*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%
  }
  
  .bgimg {
   
    background-image: url('bg.png');
 
    height: 100%;
 
    background-position: center;
  
    background-size: cover;
 
    position: relative;
   
    color: white;
  
    font-family: "Courier New", Courier, monospace;
  
    font-size: 25px;
  }
  
  
  .topleft img{
    width: 400px;
    position: absolute;
    top: 10;
    left: 16px;
  }
  
  
  .bottomleft {
     position: absolute;
     bottom: 50px;
     right: 50px; 
  }
  .bottomleft a{
    text-decoration: none;
    display: block;
    font-size: 30px;
    box-sizing: border-box;
    background-color: #ffff;
    margin: 10px 0;
    padding: 10px  15px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .middle h1{
      margin: 10px;
  }
 
  .middle {
      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 
  hr {
    margin: auto;
    width: 40%;
  }
  #demo{
      margin:5px 0;
  }

  @media only screen and (max-width: 768px) {

    .bgimg{
        font-size: 15px;
    }
    .topleft img{
       width: 250px;
       position: absolute;
       top: 10px;
       left: 10px;
     }
     .bottomleft{
       bottom: 15px;
       right: 25px;
     }
     .bottomleft a{
       font-size: 25px;
     }
  
     
     
  }